body {
  color: rgb(0,0,0);
  font-family: arial, helvetica, sans-serif;
  margin: 0px;
  background-color: rgb(226,125,96) !important;
  }

.banner {
  width: 100%;
  display: block;
}

.banner > .banner-image {
  max-width: 100%;
  display: block;
  max-height: 100%;
}

.header-text{
  font-size: 8vw;
  position: absolute;
  text-align: center;
  top: 0.5em;
  left: 60px;
  right: 60px;
  color:rgb(226,125,96);
}

h2 {
  text-align: center;
  color: rgb(144, 209, 196);
  font-size: 50px !important;
}

-/* Navigation Bar fgh*/
.nav-ul {
  list-style: none;
  overflow: hidden;
  background-color: rgb(155,155,255);
  font-size: 20px;
  display: flex;
  padding: 0px 20px 0px
}

.nav-ul li {
  display: inline-block;
  font-size: 25px;
}

.nav-ul a {
  display: flex;
  color: rgb(226,125,96);
  text-decoration: none;
  padding: 14px 20px;
  }

.nav-ul li:hover {
  font-size: 1.3em;
  background-color: rgb(214,214,214);
  transition: 0.7s;
}

.small-size{
  font-size: 20px;
}

.fas{
  padding-top: 1em;
  color:rgb(130, 120, 117);
}

/* button */
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Search Bar */

.search-wrapper {

   position: absolute;
    transform: translate(-50%, -50%);
    top: 12.1em;
    left: 51em;

    float: right;
    width: 205px;
}

.search-wrapper.active {}

  .search-wrapper .input-holder {

    overflow: hidden;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search-wrapper.active .input-holder .search-input:focus {
  width: 100%;
}

/* Sign up page Form */
.container {
  padding: 30px;
  border: 3px solid black;
  font-weight: bold;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 4px;
  display: inline-block;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #D3D3D3;


}

 .checkbox {
color: #123cc9;
 }

/* Review Page grid images */

 #header2 {
  margin-bottom: 9px;
  padding: 5px;
  font-size: 2vw !important;
  font-style: italic;
  color: rgb(144, 209, 196);
}

.column {
  float: left;
  width: 33%;
  padding: 15px;
}

.column img {
  width: 335px;
  height: 400px;
  padding-left: 40px;
  display: block;
}

.rotateimg270 {
  -webkit-transform:rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.container-fluid {
  position: relative;
  padding: none;
  border:none;
  box-shadow: none;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.left{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 46%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.right {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 79%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.column:hover .image {
  opacity: 0.25;
}

.column:hover .middle, .column:hover .left, .column:hover .right {
  opacity: 1;
}

.overlaytext {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 1.1em;
}

/* ICONS */

.icons ul {
  display: flex;
  justify-content: flex-end;
  justify-content: space-evenly;
  padding-top: 13em;
  padding-left: 25em;
  padding-right: 20em;
}
.icons ul li {
  list-style: none;
}

.icons ul li a {
  width: 50px;
  height: 50px;
  background: #fff;
  text-align: center;
  margin: 0 2px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  font-size:  25px;
  z-index: 1;
}

.icons ul li a .fab {
  position: relative;
  color: #262626;
  transition: .5s;

}

.icons ul li a:hover .fab {
color: #fff;
  transform: rotateY(360deg);

}

.icons ul li a::before {
  content: "";
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;

}

.icons ul li a:hover::before {

  top: 0;

}

.icons ul li:nth-child(1) a:before {
  background: #3b5998;
}

.icons ul li:nth-child(2) a:before {
  background: #ff0000;
}

.icons ul li:nth-child(3) a::before {
  background: #3f729b;
}
.icons ul li:nth-child(4) a::before {
  background: #e95950;
}

.icons ul li:nth-child(5) a::before {
  background: #cb2027;
}

.icons ul li:nth-child(6) a::before {
background: #55acee;
}

.icons ul li:nth-child(7) a::before {
background: #ff0000;
}

.icons ul li:nth-child(8) a::before {
background: #34465d;
}

@media (min-width: 600px){
  .nav-ul{
    font-size: 1.5em;
  }
}

@media {
  .icons {
    width: 100%;
  }
}
