body {
  color: rgb(65,75,86);
  font-family: arial, helvetica, sans-serif;
  margin: 0px;
  }

.banner {
  width: 100%;
  display: block;
}

.banner > .banner-image {
  max-width: 100%;
  display: block;
  height: auto;
  opacity: 0.6;
}

.header-text{
  position: absolute;
  top: 150px;
  left: 50px;
  right: 50px;
  color:rgb(0, 0, 0);
  text-align: center;
}

h1 {
  font-size: 50px;
}

h1, h2 {
  text-align: center;
}

ul {
  font-size: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px 20px 0px
}

li {
  margin: 0 20px;
  transition: 0.6s ease;
}


li:hover {
  font-size: 1.2em;
  transition: 0.6s ease;
}

.small-size{
  font-size: 15px;
}

/* Sign up page */
#bg {
  background-image: url('img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Sign up page Form */
.container {
  padding: 30px;
border: 3px solid black;
font-weight: bold;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 4px;
  display: inline-block;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #D3D3D3;


}

 .checkbox {
color: #123cc9;
 }

/* Review Page grid images */

.cover-link {
  width: 300px;
}
.row {
  display: flex;
  padding: 0 5px;
}

.column {
  flex: 50%;
  padding: 0 5px;
}
