body {
  color: rgb(0,0,0);
  font-family: arial, helvetica, sans-serif;
  margin: 0px;
  background-color: rgb(226,125,96) !important;
  }

.banner {
  width: 100%;
  display: block;
}

.banner > .banner-image {
  max-width: 100%;
  display: block;
  max-height: 100%;
}

.header-text{
  font-size: 8vw;
  position: absolute;
  text-align: center;
  top: 60px;
  left: 60px;
  right: 60px;
  color:rgb(226,125,96);
}

h2 {
  text-align: center;
  color: rgb(144, 209, 196);
  font-size: 50px !important;
}

-/* Navigation Bar fgh*/
.nav-ul {
  list-style: none;
  overflow: hidden;
  background-color: rgb(155,155,255);
  font-size: 20px;
  display: flex;
  padding: 0px 20px 0px
}

.nav-ul li {
  display: inline-block;
  font-size: 25px;
}

.nav-ul a {
  display: flex;
  color: rgb(226,125,96);
  text-decoration: none;
  padding: 14px 20px;
  }

.nav-ul li:hover {
  font-size: 1.3em;
  background-color: rgb(214,214,214);
  transition: 0.7s ease;
}

.small-size{
  font-size: 20px;
}

/* Sign up page Form */
.container {
  padding: 30px;
border: 3px solid black;
font-weight: bold;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 4px;
  display: inline-block;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #D3D3D3;


}

 .checkbox {
color: #123cc9;
 }

/* Review Page grid images */

#header2 {
  margin-bottom: 9px;
  padding: 5px;
  font-size: 30px;
  font-style: italic;
}

img {
  width: 400px;
  height: 500px;

}
.column {
  margin-left: 1%;

  width: 40%;
  padding: 5px;
}

.row {
display: flex;

}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
